{{ if .Site.Params.aboutme.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="aboutme">
    <div class="container blocktext">
        <br>
        <div class="row">
             <div class="col-sm-12 ">
                <h3>關於我</h3>
                <p>李東安 - 專注於應用數據分析的技能，系統化的解決製造、製程的問題。</p>
                <ul>
                    <li>25年的半導體及微機電產業經歷，札實的問題解決的實務歷練。</li>
                    <li>流暢的將統計、數據分析融入 6-Sigam、8D 等問題解決的情境中。</li>
                    <li>運用 R 語言 (或 Python) 進行統計及數據分析。 </li>
                    <li>以 Markdown 自動化的產生分析報告。 </li>
                    <li>結合 R 及 Shiny 建立儀表版及分析應用程式。</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <h3>服務項目</h3>
                <p>依據個別企業在持續改善、問題解決及數據分析等能力的不同，我可以協助：</p>
                <ul>
                    <li>整合資訊、分析數據、產生視覺化的報告及結論。讓企業各個層面跳脫只有片段資訊的數字報表，而是擁有可以做為行動或決策的依據或輔助工具。</li>
                    <li>客製化分析工具或系統。使用者只需要考慮工作需求，不需要購入昂貴的商業智慧工具及學習分析的技術，企業即可擁有分析工具的成品，立即運用數據分析，改善企業問題。</li>
                    <li>應用持續改善的方法(例如六標準差)，結合數據分析的技術，建立企業從工程分析、品質方法到數據分析的整合運用。</li>
                    <li>配合企業需求，訓練員工在持續改善方法及數據分析的技能。</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}