{{ if .Site.Params.how.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="how" class="intro"  style='background-image: url("{{ .Site.Params.intro.bgImage | absURL }}");'>
    <div class="container  section-heading">
        <div class="row">
            <div class="col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    {{ with .Site.Params.how.title }}<h3>{{ . }}</h3>{{ end }}
                    {{ with .Site.Params.how.subtitle }}<h4>{{ . }}</h4>{{ end }}
                    {{ with .Site.Params.how.content }}<p>{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="img-wrapper">
                    {{ with .Site.Params.how.bgImage }}
                    <img src="{{ . | absURL }}" alt="how-image">
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}