{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.demo.enable }}
{{ "<!-- Service Section Start -->" | safeHTML }}
<section id="demo-page" class="pages demo-page" style='background-image: url("{{ .Site.Params.intro.bgImage | absURL }}");'>
    <div class="container">
        <div class="section-heading">
            {{ with .Site.Data.demo.content }}<div>{{ . | safeHTML }}</div>{{ end }}
        </div>
        <hr class= "hr-style1">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <div class="block">
                    <div class="row demo-parts">
                        {{ range .Site.Data.demo.demoItem }}
                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                            <h2>
                            {{ with .title }}<span>{{ . }}</span>{{ end }}
                            <span><a href="{{ .link }}" class="btn">{{ .btnTxt }}</a></span>
                            {{ with .inst }}<span><a href="{{ . }}" class="btn">使用說明</a></span>{{ end }}
                            </h2>
                            {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Service Section End -->" | safeHTML }}
{{ end }}

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}